.Rproj.user
.Rhistory
.RData
.Ruserdata
/index_files/
EVI-2025-field-vs-lab-doses.log
EVI-2025-field-vs-lab-doses.nb.html
/EVI-2025-field-vs-lab-doses_cache/
/EVI-2025-field-vs-lab-doses_files/
/input-data/Surface_water_2024-12-19-214810.csv
/input-data/norman_pham_Surface_water_2024-12-19-214810.csv